<div class="panel-group">
  <div class="panel">
    <div class="panel-heading">List of Employees</div>
    <div class="panel-body">
      <table class="table-hover" id="employees">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Division</th>
            <th>Delete</th>
          </tr>
        </thead>
        <% @employees.each do |e| %>
          <tr>
            <td>
              <a href="/employees/<%= e.id() %>"><%= e.id() %></a>
            </td>
            <td>
              <a href="/employees/<%= e.id() %>"><%= e.name() %></a>
            </td>
            <td>
              <% if e.division_id != nil %>
                <a href="/divisions/<%= e.division_id() %>">
                <%= Division.find(e.division_id).name %></a>
              <% else %>
                <%= "not assigned" %>
              <% end %>
            </td>
            <td>
              <form action="/employees/<%= e.id() %>/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
              </form>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading">List of Divisions</div>
    <div class="panel-body">
      <table class="table-hover" id="divisions">
        <thead>
          <tr>
            <th>Division Name</th>
            <th>Assigned Employees</th>
            <th>Delete</th>
          </tr>
        </thead>
        <% @divisions.each do |d| %>
          <tr>
            <td>
              <a href="/divisions/<%= d.id()%>"><%= d.name() %></a>
            </td>
            <td>
              <ul>
                <% d.employees.each do |employee| %>
                  <li><a href="/employees/<%= employee.id() %>"><%= employee.name %></a></li>
                <% end %>
              </ul>
            </td>
            <td>
              <form action="/divisions/<%= d.id() %>/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
              </form>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Add a Division</div>
      <div class="panel-body">
        <form action="/divisions/add" method="post">
          <input name="division" type="text" placeholder="Management">

          <button class="btn-lg" type="submit">Add Division</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Add an Employee</div>
      <div class="panel-body">
        <form action="/employees/add" method="post">
          <input name="employee" type="text" placeholder="John Doe">

          <button class="btn-lg" type="submit">Add Employee</button>
      </div>
    </div>
  </div>
</div>
